<div class="container">
  <h1>Login</h1>
  <form method="POST" action="/login">
    <div class="field">
      <label class="label" for="email">Email</label>
      <input class="input" type="text" name="email" placeholder="Email" required>
    </div>

    <div class="field">
      <label class="label" for="password">Password</label>
      <input class="input" type="password" name="password" placeholder="Password">
    </div>
    <div class="control">
      <button class="button dark" name="button">Submit</button>
    </div>
  </form>
</div>
